Automate Social Media Posts with AI Content and Images across Twitter, LinkedIn & Facebook.json
{
  "name": "Automate Social Media Posts with AI Content and Images across Twitter, LinkedIn & Facebook",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 22
            }
          ]
        }
      },
      "id": "81d2b01a-b0a6-4361-9eb5-00251031a289",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        368,
        240
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4",
          "cachedResultName": "GPT-4"
        },
        "messages": {
          "values": [
            {
              "content": "Create a 50-character LinkedIn post title about a real success story where JustHR.in helped a company overcome a specific HR automation or management challenge."
            }
          ]
        },
        "options": {}
      },
      "id": "5551acd6-a6d7-4c89-b7b8-104163d2c7a7",
      "name": "Message a model",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        592,
        240
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "2LTHEb6l2xhaPImC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "chatgpt-4o-latest",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "=Based on the title: {{ $json.message.content }}\nWrite a tweet that breaks this topic down.\n\nBe solution oriented and make it easily readable with easy vocabulary\n\nAdd some hashtags too "
            }
          ]
        },
        "options": {}
      },
      "id": "f3c8267e-df8c-40d2-aa91-7fa21e2b30b0",
      "name": "Message a model1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        960,
        -32
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "2LTHEb6l2xhaPImC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=Based on the title: {{ $json.message.content }}\nGenerate a image with clear sentences and words",
        "options": {}
      },
      "id": "0524af9f-0d39-4304-922d-a8c2807a9fa3",
      "name": "Generate an image",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1312,
        496
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "2LTHEb6l2xhaPImC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "14eTqcVU4sdoqhZb5z3WTlGElLoLfcnzkkigVIwc1kHg",
          "mode": "list",
          "cachedResultName": "data of posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14eTqcVU4sdoqhZb5z3WTlGElLoLfcnzkkigVIwc1kHg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P18TjyEEsgUey_gqXoNsE5GlsaGDmJYVl0ZWVzxCU7U/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "value": {
            "Title": "={{ $json.message.content }}",
            "Description": "={{ $json.message.content }}"
          },
          "schema": [
            {
              "id": "Title",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Image",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Image",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Title"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c836e49a-9d69-4e59-8a91-40a6c049dda6",
      "name": "Append or update row in sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1296,
        160
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oQrvOBlkZzF220Uo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "person": "F_LD-ET38e",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1552,
        96
      ],
      "id": "93ae3d52-640c-4e60-9dc3-d590d18474f7",
      "name": "Create a post1",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "T7dk0sLLVgn2je4w",
          "name": "LinkedIn account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Message a model": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Create a post1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Create a post1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "585dd3da-c616-446a-a2b6-5b09f0541635",
  "meta": {
    "templateId": "5841",
    "templateCredsSetupCompleted": true,
    "instanceId": "206146cf62d537f3ad47d1ddbb04d64d1ad241eb8fbba4e66cd9a8f0aa5a33b4"
  },
  "id": "Prv9siLyJo3ib2g9",
  "tags": [
    {
      "createdAt": "2025-10-14T20:00:19.091Z",
      "updatedAt": "2025-10-14T20:00:19.091Z",
      "id": "8mgk3V3cj4jtpDtK",
      "name": "post automation"
    }
  ]
}