file1
{
  "name": "Lead Generation & Outreach Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1
            }
          ]
        }
      },
      "id": "a1b2c3d4-1234-5678-90ab-cdef12345678",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://api.hunter.io/v2/domain-search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "={{ $json.company_domain }}"
            },
            {
              "name": "api_key",
              "value": "YOUR_HUNTER_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-2345-6789-01bc-def123456789",
      "name": "Find Emails",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "string"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "string"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.name }}",
            "email": "={{ $json.email }}",
            "company": "={{ $json.company }}",
            "position": "={{ $json.position }}",
            "source": "={{ $json.source }}",
            "date_added": "={{ $now.format('yyyy-MM-dd') }}",
            "status": "new"
          }
        }
      },
      "id": "c3d4e5f6-3456-7890-12cd-ef1234567890",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [850, 300]
    },
    {
      "parameters": {
        "content": "## Lead Sources\nAdd your lead sources here:\n- CSV upload\n- Web scraping\n- API integrations\n- Manual input",
        "height": 200,
        "width": 300
      },
      "id": "d4e5f6a7-4567-8901-23de-f12345678901",
      "name": "Lead Sources Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [250, 100]
    },
    {
      "parameters": {
        "jsCode": "// Sample lead data - replace with your actual source\nconst leads = [\n  {\n    name: \"John Doe\",\n    company: \"Tech Corp\",\n    company_domain: \"techcorp.com\",\n    position: \"Marketing Manager\",\n    source: \"LinkedIn\"\n  },\n  {\n    name: \"Jane Smith\",\n    company: \"StartupXYZ\",\n    company_domain: \"startupxyz.com\",\n    position: \"CEO\",\n    source: \"Website\"\n  }\n];\n\nreturn leads;"
      },
      "id": "e5f6a7b8-5678-9012-34ef-123456789012",
      "name": "Load Lead Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f6a7b8c9-6789-0123-45fa-234567890123",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f6a7b8c9-6789-0123-45fa-234567890123",
      "name": "Has Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "fromEmail": "your-email@company.com",
        "toEmail": "={{ $json.email }}",
        "subject": "Quick question about {{ $json.company }}",
        "emailType": "html",
        "htmlBody": "Hi {{ $json.name.split(' ')[0] }},<br><br>I noticed you're the {{ $json.position }} at {{ $json.company }} and wanted to reach out.<br><br>We help companies like yours [specific value proposition]. I'd love to show you how we helped [similar company] achieve [specific result].<br><br>Do you have 15 minutes this week for a quick call?<br><br>Best regards,<br>[Your Name]<br>[Your Title]<br>[Your Company]",
        "options": {}
      },
      "id": "a7b8c9d0-7890-1234-56ab-345678901234",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1250, 280]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "string"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "string"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "email_sent",
            "email_sent_date": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"
          }
        },
        "options": {
          "rangeDefinition": "specifyRange",
          "range": "A{{ $json.row_number }}:H{{ $json.row_number }}"
        }
      },
      "id": "b8c9d0e1-8901-2345-67bc-456789012345",
      "name": "Update Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1450, 280]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "c9d0e1f2-9012-3456-78cd-567890123456",
      "name": "Rate Limit Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "content": "## Email Templates\n\nCreate multiple templates:\n1. Initial outreach\n2. Follow-up 1 (3 days)\n3. Follow-up 2 (7 days)\n4. Final follow-up (14 days)",
        "height": 200,
        "width": 300
      },
      "id": "d0e1f2a3-0123-4567-89de-678901234567",
      "name": "Email Templates Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1250, 100]
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Load Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Lead Data": {
      "main": [
        [
          {
            "node": "Find Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Emails": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Google Sheets": {
      "main": [
        [
          {
            "node": "Has Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Email?": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rate Limit Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8c8c5237b8e37b1b26e0a1b8c8f3e0bb0c7e0dc8c0b8a8e8c8b8e8f8c8d8e8f8"
  },
  "tags": []
}
