LEAD GEN AI (2).json
{
  "name": "LEAD GEN AI",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.command }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "IDENTITY\n\nYou are LeadGen-AI, a professional B2B lead generation agent specialized in researching and collecting verified leads from startup companies across multiple industries. You act as a research and data-gathering AI that collaborates with the chat model to find and return structured lead data.\n\nBACK CONTEXT\n\nYour task is to reach out (via web data collection or database query) to gather business leads of companies and decision-makers that fit the following filters:\n\nCompany types:\n\nTech Startups\n\nManufacturing Companies\n\nIT Service Providers\n\nSmall and Medium Enterprises (SMEs)\n\nHealthcare Companies (Medium to Large scale, minimum 30 employees)\n\nArchitect & Design Firms\n\nRetail Companies\n\nMulti-store or Franchise Brands\n\nOnline Brands expanding to Offline Presence\n\nEducational Institutions\n\nTarget Details to Collect:\n\nfirstName\n\nlastName\n\nemail\n\nphone\n\ncompany\n\nwebsiteUrl\n\nlinkedinUrl\n\ncity\n\nstate\n\ncountry\n\nyearOfIncorporation\n\nteamSize\n\nYour goal is to extract verified, structured, and relevant data that can be used for B2B outreach and partnership building.\n\nROLE\n\nYour role is to:\n\nCommunicate with the chat model or API to search and extract company and contact information.\n\nFilter out irrelevant data such as freelance individuals, non-business pages, or duplicate company names.\n\nReturn the output in a structured JSON format or as rows ready to push into a Google Sheet / CRM.\n\nEnsure accuracy of company size, category, and verification of business authenticity (through LinkedIn or website domain check).\n\nTONE\n\nRespond only with valid JSON according to the Structured Output schema. No text, no markdown. Professional, research-oriented, and concise.\nCommunicate in a clear, data-driven way — avoid fluff or assumptions.\nBe polite yet directive when interacting with the chat model or data sources.\n\nCONVERSATIONAL FLOW\n\nIntroduction:\n“I’m LeadGen-AI, your data research assistant. I’m looking for potential startup leads based on the provided industry filters.”\n\nRequest Clarification (if needed):\nAsk the chat model whether it can access recent or verified business data sources.\n\nData Query:\n“Please find and return verified company leads matching these filters.”\n\nOutput Format Reminder:\n“Return the data in a structured table or JSON format with fields: firstName, lastName, email, phone, company, websiteUrl, linkedinUrl, city, state, country, yearOfIncorporation, teamSize.”\n\nQuality Check:\nBefore finalizing, recheck if any irrelevant or duplicate companies are present.\n\nNOTES\n\nAvoid personal or sensitive data beyond professional contact info.\n\nPrioritize verified LinkedIn or company website data.\n\nFocus on decision-makers (founders, directors, marketing heads, operations heads).\n\nThe data should be business-verified — skip startups with no online presence.\n\nIf company details are missing, attempt to infer or leave blank rather than guessing."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        672,
        16
      ],
      "id": "6e7a5163-d18b-41a5-b8f6-3c2eb6c348ea",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini-2025-04-14"
        },
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        640,
        208
      ],
      "id": "c2e1d4cb-f23b-4b91-8d9a-3c38b2cbac87",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "yFuKDuxzHHTwzLNt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1uC6mxr2V4guas0ws2XaHcChejbGiUJkJ8aLuEw3xDEs",
          "mode": "list",
          "cachedResultName": "Just HR Leads Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uC6mxr2V4guas0ws2XaHcChejbGiUJkJ8aLuEw3xDEs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 183657938,
          "mode": "list",
          "cachedResultName": "sheet 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rQdCkUKkf37rGzBIsPf8_a4BeADEUEx-cvJst6mPEuk/edit#gid=183657938"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Year of Incorporation": "={{ $json.output.leads[1].yearOfIncorporation }}",
            "Team Size": "={{ $json.output.leads[1].teamSize }}",
            "Country": "={{ $json.output.leads[1].country }}",
            "State": "={{ $json.output.leads[1].state }}",
            "City": "={{ $json.output.leads[1].city }}",
            "LinkedinUrl": "={{ $json.output.leads[1].linkedinUrl }}",
            "WebsiteUrl": "={{ $json.output.leads[1].websiteUrl }}",
            "Company": "={{ $json.output.leads[1].company }}",
            "Phone": "={{ $json.output.leads[1].phone }}",
            "LastName": "={{ $json.output.leads[1].lastName }}",
            "FirstName": "={{ $json.output.leads[1].firstName }}",
            "EMAIL": "={{ $json.output.leads[1].email }}"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FirstName",
              "displayName": "FirstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LastName",
              "displayName": "LastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "WebsiteUrl",
              "displayName": "WebsiteUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LinkedinUrl",
              "displayName": "LinkedinUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Year of Incorporation",
              "displayName": "Year of Incorporation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Team Size",
              "displayName": "Team Size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1008,
        16
      ],
      "id": "d644a2a9-bd2f-4678-8f2d-ba721fed36a6",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZUb0xsqA7Qv69ZRW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        352,
        16
      ],
      "id": "6e7e6749-4500-4b5f-8b0f-a80f12eb09c2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        944,
        416
      ],
      "id": "905d0634-c283-44f5-ad35-75af7e9cf7df",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "yFuKDuxzHHTwzLNt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "\"{\\n  \\\"output\\\": []\\n}\\n{\\n  \\\"output\\\": [\\n    {\\n      \\\"firstName\\\": \\\"Anita\\\",\\n      \\\"lastName\\\": \\\"Sharma\\\",\\n      \\\"email\\\": \\\"anita.sharma@techinnovate.com\\\",\\n      \\\"phone\\\": \\\"+91 80 2345 6789\\\",\\n      \\\"company\\\": \\\"Tech Innovate Solutions\\\",\\n      \\\"websiteUrl\\\": \\\"https://www.techinnovate.com\\\",\\n      \\\"linkedinUrl\\\": \\\"https://www.linkedin.com/in/anita-sharma-hr\\\",\\n      \\\"city\\\": \\\"Bangalore\\\",\\n      \\\"state\\\": \\\"Karnataka\\\",\\n      \\\"country\\\": \\\"India\\\",\\n      \\\"yearOfIncorporation\\\": 2015,\\n      \\\"teamSize\\\": 120\\n    }\\n  ]\\n}\""
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        848,
        224
      ],
      "id": "fdbaf606-d6ca-4697-b565-7261b28e476a",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "command": "Find HR leads from Bangalore, India one result in one batch ",
          "task": "Continuously search and collect verified HR job leads from Bangalore, India, and store them into Google Sheets until 100 total leads are gathered.",
          "context": {
            "industry": "Human Resources",
            "job_roles": [
              "HR Manager",
              "HR Executive",
              "Talent Acquisition",
              "HR Business Partner",
              "Recruitment Specialist"
            ],
            "location": {
              "city": "Bangalore",
              "country": "India"
            },
            "company_size": "small_to_medium",
            "filters": {
              "activeHiring": true,
              "verifiedBusiness": true,
              "excludeFreelancers": true
            },
            "data_fields": [
              "firstName",
              "lastName",
              "email",
              "phone",
              "company",
              "websiteUrl",
              "linkedinUrl",
              "city",
              "state",
              "country",
              "yearOfIncorporation",
              "teamSize"
            ]
          },
          "loop_settings": {
            "enabled": true,
            "interval_minutes": 60,
            "max_iterations": 10,
            "stop_condition": "total_leads >= 100"
          },
          "actions": {
            "store_to": "Google Sheets",
            "spreadsheet_name": "HR Job Leads - Bangalore",
            "sheet_name": "Leads",
            "append_mode": true
          },
          "output_format": "structured_json",
          "notes": "Run this command in a loop. Each batch should find new HR job leads from Bangalore, save them to Google Sheets, and stop after 100 verified leads are collected or 10 runs are completed."
        }
      }
    ]
  },
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "53461952-0e9d-4689-b52b-b3c62e6a3323",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2e176efe5bfd374fe95c60f859f585d432afe81fe82429a6260a22ac25fcfdb3"
  },
  "id": "czv44K09OMIkdunJ",
  "tags": []
}